.header
  = render 'toppage/header'
  - breadcrumb :signout
  = render "layouts/breadcrumbs"
.user_page
  = render 'shared/side_bar'
  .mypage__sub__content
    %form.mypage__sub__content--form(action="")
      %button.mypage__sub__content--form--btn
        = link_to 'ログアウト', destroy_user_session_path, method: :delete