.a
  .b
    = image_tag '2.png', height: '100%', width: '100%', class: 'banner_img'
  .b
    = image_tag '3.png', height: '100%', width: '100%', class: 'banner_img'
  .b
    = image_tag '4.png', height: '100%', width: '100%', class: 'banner_img'