.contents{
  width: 1440px;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  .header{
    height: 128px;
    .fmarket{
      height: 90px;
      width: 200px;
      left: 350px;
      position: relative;
    
      &__box{
        .logo{
          margin: 35px 10px 10px;
          &:hover{
            opacity: 0.75;
          }
        }
      }
    }
    .clearfix_b{
      width: 500px;
      height: 40px;
      position: relative;
      left: 595px;
      bottom: 54px;
      display: flex;
      background-color: #f5f5f5;
      .progress-bar1b{
        position: relative;
        z-index: 1;
        .a{
          font-weight: 400;
          font-size: 12px;
          position: relative;
          color: gray;
          right: 3px;
        }
        &__x{
          background-color: #ea352d;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: center;
          position: absolute;
          top: 23px;
          left: 15px;
        }
        &__x::after{
          background-color: #ea352d;
          height: 2px;
          width: 109px;
          position: absolute;
          z-index: -1;
          display: inline-block;
          vertical-align: center;
          content: '';
          bottom: 5px;
        }
      }
      .progress-bar2b{
        font-weight: 400;
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: gray;
        left: 43px;

        &__x{
          background-color: #ea352d;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          vertical-align: center;
          top: 23px;
          left: 30px;
        }
        &__x::after{
          background-color: #ea352d;
          height: 2px;
          width: 125px;
          position: absolute;
          z-index: -1;
          display: inline-block;
          vertical-align: center;
          content: '';
          bottom: 5px;
        }
      }
      .progress-bar3b{
        font-weight: 400;
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: gray;
        left: 83px;

        &__x{
          background-color: #ea352d;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          vertical-align: center;
          top: 23px;
          left: 42px;
        }
        &__x::after{
          background-color: #ea352d;
          height: 2px;
          width: 120px;
          position: absolute;
          z-index: -1;
          display: inline-block;
          vertical-align: center;
          content: '';
          bottom: 5px;
        }
      }
      .progress-bar4b{
        font-weight: 600;
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: #ea352d;
        left: 123px;

        &__x{
          background-color: #ea352d;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          vertical-align: center;
          top: 23px;
          left: 25px;
        }
        &__x::after{
          background-color: #ccc;
          height: 2px;
          width: 100px;
          position: absolute;
          z-index: -1;
          display: inline-block;
          vertical-align: center;
          content: '';
          bottom: 5px;
        }
      }
      .progress-bar5b{
        font-weight: 400;
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: gray;
        left: 145px;

        .bbb{
          position: relative;
          left: 36px;
        }

        &__x{
          background-color: #ccc;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          vertical-align: center;
          top: 23px;
          left: 42px;
        }
      }
    }
  }
  .single{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    &__head{
      height: 95px;
      border-bottom: 1px solid #f5f5f5;
      h1{
        font-size: 22px;
        font-weight: bold;
        color: #333;
        line-height: 95px;
        text-align: center;
      }
    }
    .single-box-wx{
      padding: 40px 40px 64px;
      height: 450px;
  
      .single-box24{
        width: 343px;
        height: 70px;
        margin: 0 auto;

        li{
          font-weight: 600;
          font-size: 14px;
          list-style: none;
          
        }
       
        .single-box25{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 95px;
          bottom: 22px;
          text-align: center;
        }
        .input-default{
          padding: 10px 16px 8px;
          height: 48px;
          width: 340px;
          border-radius: 4px;
          border:solid 1px #ccc;
          position: relative;
          bottom: 12px;
        }
      }
      .ic2{
        height: 50px;
        width: 340px;
        margin: 10px auto 0;
        display: flex;
        .card1::after {
          content: '\f1f0';
          font-family:'Font Awesome 5 Brands';
          font-size: 30px;
          margin-right: 10px;
        }
        .card2::after {
          content: '\f1f1';
          font-family:'Font Awesome 5 Brands';
          font-size: 30px;
          margin-right: 10px;
        }
        .card3::after {
          content: '\f1f4';
          font-family:'Font Awesome 5 Brands';
          font-size: 30px;
          margin-right: 10px;
        }
        .card4::after {
          content: '\f24b';
          font-family:'Font Awesome 5 Brands';
          font-size: 30px;
          margin-right: 10px;
        }
        .card5::after {
          content: '\f1f3';
          font-family:'Font Awesome 5 Brands';
          font-size: 30px;
          margin-right: 10px;
        }
        .card6::after {
          content: '\f24c';
          font-family:'Font Awesome 5 Brands';
          font-size: 30px;
          margin-right: 10px;
        }
        .card7::after {
          content: '\f1f2';
          font-family:'Font Awesome 5 Brands';
          font-size: 30px;
        }
      }
        
    }
      .single-box26{
        width: 343px;
        height: 70px;
        margin: 0 auto;
        .single-box27{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 95px;
          bottom: 22px;
          text-align: center;
        }
        #user_pay_attributes_deadline_month_id{
          height: 48px;
          width: 140px;
          font-weight: 400;
          color: #333;
          background-color: #fff;
          border:solid 1px #ccc;
          padding: 0 20px;
          cursor: pointer;
        }
        #user_pay_attributes_deadline_year_id{
          height: 48px;
          width: 140px;
          font-weight: 400;
          color: #333;
          background-color: #fff;
          border:solid 1px #ccc;
          padding:  0 20px;
          cursor: pointer;
        }
        .ic3{
          position: relative;
          bottom: 50px;
          left: 110px;
          color: gray;
          pointer-events: none;
        }
        .ic4{
          position: relative;
          left: 260px;
          bottom: 65px;
          color: gray;
          pointer-events: none;
        }
      }
      .single-box28{
        width: 343px;
        height: 70px;
        margin: 50px auto 0;
        .single-box29{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 130px;
          bottom: 22px;
          text-align: center;
        }
      }
      .message4{
        height: 20px;
        width: 343px;
        margin:10px auto 0;
        p{
          margin-left: 180px;
        
          a{
            cursor: pointer;
            font-size: 14px;
            color: #0099e8;
            &:hover{
              opacity: 0.75;
              text-decoration: underline;
            }
          }
        }
      }
      .button_box3{
        height: 50px;
        width: 343px;
        margin: 60px auto 0;
      
        input{
          margin: 0 auto;
          width: 100%;
          height: 100%;
          background-color: #ea352d;
          border: solid 1px #ea352d;
          color: #fff;
          font-size: 13px;
          cursor: pointer;
        }
      }
    }
  }